@using Cinder.UI.Infrastructure.Dtos
@inherits RecentBlocksModel

@if (Blocks == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Height</th>
                <th>Hash</th>
                <th>Mined</th>
                <th>Miner</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            @foreach (RecentBlockDto block in Blocks)
            {
                <tr>
                    <td width="10%">
                        <NavLink href="@($"/block/{block.Hash}")">@block.BlockNumber</NavLink>
                    </td>
                    <td width="40%">
                        <NavLink href="@($"/block/{block.Hash}")">@block.Hash</NavLink>
                    </td>
                    <td width="15%">@block.Timestamp</td>
                    <td width="15%"><NavLink href="@($"/address/{block.Miner}")">@block.Miner</NavLink></td>
                    <td width="20%">@block.Size</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}