@using Cinder.UI.Infrastructure.Dtos
@inherits RecentBlocksModel

@if (IsLoading)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="table-container">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Height</th>
                    <th>Relayed By</th>
                    <th>Age</th>
                    <th class="has-text-right">Transactions</th>
                    <th class="has-text-right">Size (B)</th>
                    <th>Block Hash</th>
                </tr>
            </thead>
            <tbody>
            @foreach (RecentBlockDto block in Blocks)
            {
                <tr>
                    <td width="10%">
                        <NavLink href="@($"/block/{block.Hash}")">@block.BlockNumber</NavLink>
                    </td>
                    <td width="15%">
                        <NavLink href="@($"/address/{block.Miner}")">@block.MinerDisplay</NavLink>
                    </td>
                    <td width="10%">@block.TimestampAsHumanString</td>
                    <td width="10%" class="has-text-right">@block.TransactionCountAsString</td>
                    <td width="10%" class="has-text-right">@block.SizeAsString</td>
                    <td width="45%">
                        <NavLink href="@($"/block/{block.Hash}")">@block.Hash</NavLink>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}