@inherits TransactionDetailModel

@if (Transaction != null)
{
    <table class="table is-fullwidth">
        <tbody>
        <tr>
            <th width="15%">Block Height</th>
            <td>
                <NavLink href="@($"/block-height/{Transaction.BlockNumber}")">@Transaction.BlockNumber</NavLink>
            </td>
        </tr>
        <tr>
            <th>Block Hash</th>
            <td>
                <NavLink href="@($"/block/{Transaction.BlockHash}")">@Transaction.BlockHash</NavLink>
            </td>
        </tr>
        <tr>
            <th>Age</th>
            <td>@Transaction.TimestampAsHumanString (@Transaction.TimestampAsDate.ToString("R"))</td>
        </tr>
        <tr>
            <th>From</th>
            <td>
                <NavLink href="@($"/address/{Transaction.AddressFrom}")">@Transaction.AddressFrom</NavLink>
            </td>
        </tr>
        <tr>
            <th>To</th>
            <td>
                <NavLink href="@($"/address/{Transaction.AddressTo}")">@Transaction.AddressTo</NavLink>
            </td>
        </tr>
        <tr>
            <th>Value</th>
            <td>@Transaction.Value ELLA</td>
        </tr>
        <tr>
            <th>Gas Used</th>
            <td>@Transaction.GasUsed</td>
        </tr>
        <tr>
            <th>Gas Provided</th>
            <td>@Transaction.Gas</td>
        </tr>
        <tr>
            <th>Gas Price</th>
            <td>@Transaction.GasUsed</td>
        </tr>
        <tr>
            <th>Nonce</th>
            <td>@Transaction.Nonce</td>
        </tr>
        <tr>
            <th>Input Data</th>
            <td style="word-break: break-all;">
                @Transaction.Input
            </td>
        </tr>
        </tbody>
    </table>
}