@using Cinder.UI.Infrastructure.Dtos
@inherits TransactionSummaryModel

@if (Transactions != null && Transactions.Any())
{
    <h2 class="title is-4 is-spaced">Transactions</h2>
    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th>Transaction Hash</th>
                <th>Age</th>
                <th>From</th>
                <th>To</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            @foreach (TransactionDto transaction in Transactions)
            {
                <tr>
                    <td width="30%">
                        <NavLink href="@($"/transaction/{transaction.Hash}")" class="is-large-hash text-truncate">@transaction.Hash</NavLink>
                    </td>
                    <td width="15%">@transaction.TimestampAsHumanString</td>
                    <td width="15%">
                        <NavLink href="@($"/address/{transaction.AddressFrom}")" class="is-medium-hash text-truncate">@transaction.AddressFrom</NavLink>
                    </td>
                    <td width="15%">
                        <NavLink href="@($"/address/{transaction.AddressTo}")" class="is-medium-hash text-truncate">@transaction.AddressTo</NavLink>
                    </td>
                    <td width="25">@transaction.Value.ToString("G15") ELLA</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}